body {
    background: black;
    overflow-y: hidden;
}

.background-image {
    position: fixed;
    z-index: -1;
    background-image: url("imgs/edna_bg.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.content {
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    row-gap: 20px;
    grid-template-areas:
        'left top right'
        'bottom bottom bottom';
}

.left {
    text-align: left;
    grid-area: left;
}

.poki-container {
    text-align: center;
    width: 75%;
    min-width: 200px;
    margin-left: 20px;
}

.top {
    grid-area: top;
    text-align: center;
}

.right {
    grid-area: right;
    text-align: right;
}

.bottom {
    grid-area: bottom;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: auto;
}

.greyOut {
    opacity: 0.4;
}

#title {
    max-height: 400px;
    margin-left: -20px;
}

#audioPlayer {
    margin-left: -8px;
}

#playlist {
    list-style: none;
}

#playlist .current-song a img {
    background-color: #7F56BB;
    border-radius: 15px;
    padding: 4px;
    margin: -4x;
}

.sceneButton {
    width: 80%;
    padding: 4px;
}

nav ul {
    text-align: center;
    margin: auto;
    max-width: 70%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    background: #290f332c;
    border: 3px solid #000000;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
}

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    left: 0;
}

::-webkit-scrollbar-track {
    background: #55029921;
    border-radius: 35px;
}

::-webkit-scrollbar-thumb {
    background: #7F56BB;
    border-radius: 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: #603f92;
}

audio {
    opacity: 60%;
    width: 100%;
}

.titles {
    max-height: 200px;
    margin-bottom: 15px;
}

.titles-big {
    max-height: 110px;
    margin-bottom: 25px;
}

.buttons {
    height: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.currentTab {
    height: 75px;
}

.rightBtns {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 15px;
    height: 70px;
}

.buttons:hover {
    filter: brightness(200%);
}

.sceneButton:hover {
    filter: brightness(130%);
}

.rightBtns:hover {
    filter: brightness(120%);
}

.fadeContainer {
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.tooltip-container {
    position: relative;
    display: inline-block;
  }

div.tooltip-container span {
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: #5d3e88;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 32px;
    right: 105%;
  }
  
  div.tooltip-container:hover span  {
    visibility: visible;
  }


