body, html {
    margin:-5;
    padding:-5;
    background: black;
    overflow:hidden; 
    overflow-y:hidden; 
}

.bg-image {
    background-image: url("imgs/edna_bg.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.content {
    /*background-color: rgba(0,0,0, 0.4);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: auto;
}

#playlist {
    list-style: none;
}

#playlist li a {
    object-fit: cover;
}

#playlist .current-song a {
    color:blue;
}

nav ul{
    max-height:600px;
    overflow:hidden; 
    overflow-y:scroll;
}

.sceneButton {
    max-width: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.greyOut {
    opacity: 0.3;
}


.box1 { 
    grid-area: box1;
}

.box2 { 
    grid-area: box2; 
}

.list { 
    grid-area: list; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'box1 box2'
    'list list';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

#poki{
    width:400
}

#title{
    width:1000
}